.container {
  color: var(--white);
  height: 100vh;
  padding: 100px 32px 0;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  h3,
  p {
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 48px 0 16px;
  }

  p {
    font-size: 14px;
  }

  form {
    width: 100%;
  }

  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus {
    background-color: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3) inset !important;
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
  }

  button {
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    outline: none;
    padding: 16px 48px;
    width: 100%;
  }
}

.error {
  color: var(--red);
  font-size: 12px !important;
  margin-bottom: 16px;
}
