.container {
  color: var(--white);
  height: 100%;
  padding: 0 52px;
  overflow: hidden;

  h3,
  p {
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 48px 0 16px;
  }

  p {
    font-size: 14px;
  }

  button {
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-top: calc(65vh - 16px);
    outline: none;
    padding: 16px 48px;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
}
