.container {
  padding: unset;
  overflow: auto;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 34px 24px 17px;

    &-text {
      color: var(--white);
      font-size: 19px;
      font-weight: bold;
      margin: 0;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__profile {
    align-items: center;
    background-color: #262626;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    min-height: 75vh;
    padding: 24px 24px 92px;

    &-image {
      margin-bottom: 24px;
      margin-top: -45px;
    }

    &-info {
      align-items: center;
      display: flex;
      flex-direction: column;

      &-name {
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto 8px;
      }

      &-description {
        color: #c4c4c4;
        font-size: 14px;
        margin: 0;
      }
    }

    &-tabs {
      align-items: center;
      background-color: #2f2f2f;
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      height: 56px;
      justify-content: space-between;
      margin: 24px auto;
      padding: 8px;
      width: 327px;

      &-item {
        color: #c4c4c4;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        border-radius: 16px;
        padding: 12px 24px;
        outline: none;
        background-color: transparent;
        border: none;
        transition: background-color .3s ease-in;
      }

      &-item-active {
        background: #22a2f2;
        border-radius: 16px;
        color: var(--white);
        outline: none;
        transition: background-color .3s ease-in;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      margin: 0 0 32px;
      width: 327px;

      &-label {
        font-size: 18px;
        font-weight: bold;
      }

      &-card {
        background: linear-gradient(
          45deg,
          rgb(223 235 242 / 43.4%) 0%,
          rgb(34 162 242 / 45.1%) 100%
        );
        border: 2px solid #4b4f50;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        height: 164px;
        justify-content: space-between;
        max-width: 327px;
        padding: 20px 24px;
        position: relative;
        width: 100%;
      }

      &-card p {
        margin: 0;
      }

      &-card .card-bubbles {
        position: absolute;
        right: 15px;
        top: 20px;
      }
    }

    &-login-details {
      align-items: center;
      background-color: #2f2f2f;
      border-radius: 24px;
      display: flex;
      height: 88px;
      justify-content: space-between;
      padding: 16px;
      width: 327px;

      > div {
        align-items: center;
        display: flex;
      }

      &__labels {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 16px;
      }

      &__labels__title {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 8px;
      }

      &__labels__description {
        color: #c4c4c4;
        font-size: 10px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
