.add {
  // padding-bottom: 120px;
  min-height: 50vh;
  // overflow: auto;

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 34px 24px 17px;

    &-text {
      color: var(--white);
      font-size: 19px;
      font-weight: bold;
      margin: 0;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  select * {
    background-color: var(--dark);
    color: var(--white);
  }

  footer {
    align-items: center;
    background-color: var(--dark);
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: space-between;

    padding: 32px 34px;
    position: fixed;
    width: 100%;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 24px;
  width: 90%;

  &__type {
    background-color: var(--red);
    border: none;
    border-radius: 8px;
    color: var(--white);
    height: 56px;
    width: 56px;
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 75%;
  }

  button {
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    color: #c4c4c4;
    color-scheme: dark;
    height: 32px;
    margin: 16px 0;
    width: 100%;
  }
  // input placeholder white
  input::input-placeholder {
    color: #c4c4c4;
  }

  select {
    appearance: none;
    appearance: none;

    appearance: none !important;
    appearance: none !important;
    appearance: none !important;
    background-color: rgba(255, 255, 255, 0.3);

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-position-x: 95%;
    background-position-y: 8px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    color: var(--white);
    display: inline-block;

    font-size: 16px;
    font-weight: 400;
    height: 56px;
    // position: relative;
    margin: 16px 0;
    outline: none;
    padding: 0 16px;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
    width: 100%;
  }
}
