@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #0d0f12;
  --primary: #22a2f2;
  --secondary: #4590bf;
  --green: #6ebf6b;
  --red: #f25252;
  --gray-light: #dfebf2;
  --dark: #404040;
}

.app {
  background-color: var(--black);
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

// loader
.loader {
  animation: rotation 1.5s linear infinite;
  border-radius: 50%;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  margin-left: 50%;
  margin-top: 10%;
  width: 48px;

  &.center {
    animation: rotation 1s linear infinite;
    margin: 75% 0 0 50%;
  }
}

.loader::after {
  border-bottom: 4px solid var(--primary);
  border-left: 4px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer-menu {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-between;

  padding: 32px 34px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;

  &--hidden {
    display: none;
  }

  @media screen and (min-width: 481px) {
    position: absolute;
    top: 87.5vh;
    left: 0;
  }

  // @media screen and (min-width: 1440px) {
  //   top: 88vh;
  // }

  button:not(.app-button) {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.app-button {
  background-color: var(--green);
  border: none;
  border-radius: 50%;
  bottom: 72px;
  color: var(--white);
  height: 52px;
  position: absolute;
  right: 24px;
  width: 52px;

  &--trash {
    right: 90px;
    background-color: var(--red);
  }
}

@media screen and (min-width: 481px) {
  body {
    align-items: center;
    background-image: radial-gradient(#2e2e2e 1px, #0d0f12 1px),
      radial-gradient(#2e2e2e 1px, #0d0f12 1px);
    background-position: 0 0, 25px 25px;
    background-size: 140px 140px;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .app {
    border-radius: 16px;
    box-shadow: 0 0 10px rgb(150 150 150 / 20%);
    height: 95vh;
    width: 480px;
  }
}
