.container {
  color: var(--white);
  // height: 100%;
  overflow: auto;
  // overflow: hidden;
  width: 100%;

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 34px 24px 17px;

    &-text {
      color: var(--white);
      font-size: 19px;
      font-weight: bold;
      margin: 0;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__summary {
    padding: 16px 24px 120px;

    &-card {
      background-color: var(--dark);
      border-radius: 24px;
      display: flex;
      height: 108px;
      margin: 16px 0;
      padding: 16px;

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &-progress-bar {
      margin-right: 16px;
      max-height: 70px;
      max-width: 70px;
    }

    &-title {
      color: #8e8383;
      font-size: 12px;
      font-weight: bold;
      justify-self: flex-start;
      margin: 0 0 8px;
    }

    &-description {
      color: var(--white);
      font-size: 16px;
      font-weight: bold;
      grid-area: description;
      justify-self: flex-start;
      margin: 0;
    }
  }
}
